name: Make Dependencies
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
            python-version: '3.11'
      - run: python -m pip install poetry==1.4.2
      - run: python -m poetry install
      - name: create json boat files
        run: |
          python -m poetry run python make_boat_json_from_yaml
          echo ok
      - name: create picklist json
        run: |
          python -m poetry run python make_picklists.py
          echo ok
      - name: update editors_choice
        run: |
          python -m poetry run python make_editors_choice.py
          echo ok
      - name: create filter list json
        run: |
          python -m poetry run python make_filterable.py
          echo ok
      - name: Add & Commit
        uses: EndBug/add-and-commit@v9.1.0
        with:
          add: '.'
      - name: publish pages
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh workflow run static.yml

